.TopInfo {
  background-image: linear-gradient(rgb(146, 146, 233), rgb(104, 104, 247));
  height: 300px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: rgba(230,230,255, 0.5);
  border-bottom-width: 5px;
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
}

.VerticalSpacer {
  width: 100%;
  height: 33%;
}

.InfoImg {
  width: 60%;
  height: 40%;
  border-radius: 10%;
}

.InfoBase {
  width: 20vw;
  height: 40vh;
  cursor: pointer;
  border-radius: 10%;
  border-color: rgba(200,200,255,0.8);
  border-width: 2px;
  border-style: solid;
  background-color: red;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
  transition-duration: 500ms;
}

.InfoBase:hover {
  width: 35vw;
  height: 40vw;
  transition-duration: 500ms;
  align-self: center;
}

.InfoImg {
  border-radius: 10%;
  margin: auto;
}

.InfoText {
  margin-left: auto;
  margin-right: auto;
}

.App {
  text-align: center;
  height: 300vh;
  width: 100vw;
  background-image: linear-gradient(rgba(230,230,255), rgba(253,253,255), rgba(230,230,255));
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
} 